**Literals is raw data given in a Variable or Constant.**

## Number Literals

Numeric Literals are immutable(unchangeable).

Three different type of Numeric Literals are there:
**Integer**,**Float**,**Complex**

In [ ]:
a=0b1010  #Binary Literals
b=100     #Decimal Literals
c=0o310   #Octal Literals
d=0x12c   #Hexadecimal Literals
e=10      #Int Literals
f=10.5    #Float Literals
x=3.14j   #Complax Literals

# float to int 
print(int(f))

# int to float 
print(float(e))

# int to complex 
print(complex(e))

10
10.0
(10+0j)

## String Literals
A String literals is a **Sequence of Characters** surrounded by **quots**.
we can Use **Single**,**Double**,**Triple** quotes for a **String**,and for **Character literals** only **Single**,**Double** **quots**  are used.

In [ ]:
a='''Debasish''';
b="""debasish""";
c='debasish';
d="debasish";
e=debasish  # cannot write string with out quotes('',"",'''''',"""""")

print(a)
print(b)
print(c)
print(d)
print(e)

NameError: ignored

In [ ]:
strings="This is Python";
char="A";
multiline_str='''This is a 

 multi line Data 

''';
unicode=u"\u00dcnic\u00f6de";
raw_str=r"raw \n string";

print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
A
This is a

 multi line Data


Ünicöde
raw \n string

## Boolean Literals

only two Values = True and Flase

in python Remember **True==1** and **False==0**

In [ ]:
x=(1==True)
y=(1==False)
a=True+6
b=False +90

print("X is,",x)
print("y is,",y)
print("a is,",a)
print("b is,",b)

X is, True
y is, False
a is, 7
b is, 90

## Spcial Literals
> None
 it is used to specify to that filed that is not created

In [ ]:
veg="Available"
non_veg=None

def menu(x):
  if x==veg:
    print(veg)
  else:
    print(non_veg)

menu(veg)
menu(non_veg)

Available
None

## Literal Collections


There are Four Literal Collection:
**List Literal**, **Tuple Literal**, **Dict Literal**, **Set Literal**

In [ ]:
Tech1=['Python','Java','C#','Javascript']  #=>List[]

Tech2=('Python','Java','C#','Javascript')  #=>tuple()

Tech3={'Python','Java','C#','Javascript'}  #=>set{}

Tech4={"1":'Python',
       "2":'Java',
       "3":'C#',
       "4":'Javascript'} #=>Dictionarey{"key":"Value"}