# Input Output Import

## Output Formationg using Print function

In [ ]:
# Single Statement
print('This is Print function formationg')

This is Print function formationg

In [ ]:
# Pass A value 
a=10;
print('This Value of a is:',a)

This Value of a is: 10

In [ ]:
print(1,1,1,1)
print(1,1,1,1,sep='@') # "sep" is seprate the output value with # element
print(1,1,1,1,sep=' * ',end='&') # "sep" is seprate the output value with * element and end with '&'

1 1 1 1
1@1@1@1
1 * 1 * 1 * 1&

In [ ]:
# str.format()
x=6;
y=7;
print('This value of x is {} and y is {}'.format(x,y))

This value of x is 6 and y is 7

In [ ]:
print('I love {} and {}'.format('Mango','Banana'))

print('I love {0} and {1}'.format('Mango','Banana'))

print('I love {1} and {0}'.format('Mango','Banana'))

I love Mango and Banana
I love Mango and Banana
I love Banana and Mango

In [ ]:
print('hello {name} ,{greeting}'.format(greeting='good Morning',name='Debasish'))

hello Debasish ,good Morning

In [ ]:
x=12.132423523532231435;
print('The Value of X is %0.2f'%x);
print('The Value of X is %0.5f'%x);

The Value of X is 12.13
The Value of X is 12.13242

## input Formating

In [ ]:
num=input('Enter a Number')
print(num)
num

Enter a Number123
123

'123'

In [ ]:
num=int(input('Enter a Number'))
print(num)
num

Enter a Number123
123

123

In [ ]:
num=float(input('Enter a Number'))
print(num)
num

Enter a Number123
123.0

123.0

In [ ]:
a='Debasish'
b=' Sahoo'

print(a+b);

Debasish Sahoo

In [ ]:
a=23
b='23'
print(a+b);

TypeError: ignored

In [ ]:
a='2'
b='33'
print(a+b);

233

In [ ]:
a='2'
b='33'
print(eval(a+b)); 
print(eval('2+33'));

233
35

### only Int input

In [ ]:
a=int(input("Enter First Number:"));
b=int(input("Enter Second Number:"));
print(type(a))
print(type(b))

Enter First Number:12
Enter Second Number:13
<class 'int'>
<class 'int'>

### Only  float Input

In [ ]:
a=float(input("Enter First Number:"));
b=float(input("Enter Second Number:"));
print(type(a))
print(type(b))

Enter First Number:12
Enter Second Number:1.45
<class 'float'>
<class 'float'>

### Multiple Input

In [ ]:
name,age,phone=input("Enter your Name,Age,Phone seperated by Space:").split()
print("\n");
print("User Details:",name,age,phone)

Enter your Name,Age,Phone seperated by Space:dev 23 9681


User Details: dev 23 9681

In [ ]:
name,age,phone=input("Enter your Name,Age,Phone seperated by commma:").split(',')
print("\n");
print("User Details:",name,age,phone)

Enter your Name,Age,Phone seperated by commma:deb,23,9681224048


User Details: deb 23 9681224048

### Multiline Input

In [ ]:
Multiline=[]
print("Tell me about yourself");
while True:
  line=input()
  if line:
    Multiline.append(line)
  else:
    break
finalText='\n'.join(Multiline)
print("\n")
print("Final text input")
print(finalText)

Tell me about yourself
hello python
hi python
bye python



Final text input
hello python
hi python
bye python

### Format output strings by its positions

In [ ]:
firstname=input('Enter the First Name');
lastname=input('Enter the last Name');
org=input('Enter office Name');

print("\n")
print('{0} {1} work at {2}'.format(firstname,lastname,org))
print('{1} {0} work at {2}'.format(firstname,lastname,org))

Enter the First Namedebasish
Enter the last Namesahoo
Enter office Namephonix opc ltd


debasish sahoo work at phonix opc ltd
sahoo debasish work at phonix opc ltd

### Accessing output strings arguments by name

In [ ]:
name=input('Enter Your Name');
marks=input('Enter Your Marks');
print('\n')
print("Student name is {NAME} and marks is {MARKS}".format(NAME=name,MARKS=marks))

Enter Your Namedev
Enter Your Marks23


Student name is dev  and marks is 23

## Import

In [ ]:
import math
print(math.pi)

3.141592653589793

In [ ]:
from math import pi
pi

3.141592653589793

In [ ]:
import sys 
sys.path

['/content',
 '/env/python',
 '/usr/lib/python38.zip',
 '/usr/lib/python3.8',
 '/usr/lib/python3.8/lib-dynload',
 '',
 '/usr/local/lib/python3.8/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.8/dist-packages/IPython/extensions',
 '/root/.ipython']