# Python Type Convertion and Type Casting
the Process of Converting the Value of one data type to another data type is called type convertion.

*   Implicit Type Convertion
*   Explicit Type Convertion

## 1.Implicit Type Convertion 
In this case Python Automatically convert one data type to another data type.
>Note: no need to manuall intervetion.

In [ ]:
a=123
b=123.0

c=a+b  # Python convert c into float Implicitly couse float is greater then int 
# Implicit convertion always happne between lower data type to higher data type 
print(c)
print("Data type of a",type(a))
print("Data type of b",type(b))
print("Data type of c",type(c))

246.0
Data type of a <class 'int'>
Data type of b <class 'float'>
Data type of c <class 'float'>

In [ ]:
a=123
b='123'

c=a+b     #python is not able to convert str to int Implicitly
print(c)
print("Data type of a",type(a))
print("Data type of b",type(b))
print("Data type of c",type(c))

TypeError: ignored

# 2.Explicit Convertion 
is convert one data type into another data type useing maunal intervention.

for this convertion we have to use built_in_ function like int(),float(),str()

In [ ]:
a=10;
print(a);
print(type(a))

b=float(a);
print(b)
print(type(b))

10
<class 'int'>
10.0
<class 'float'>

In [ ]:
pi=3.14
print(int(pi))

3

In [ ]:
a=123
b='123'

print("Data type of a",type(a))
print("Data type of b",type(b))
print("Data type of b after convertion:",type(int(b)))

c=a+int(b) 
print(c)

print("Data type of c",type(c))

Data type of a <class 'int'>
Data type of b <class 'str'>
Data type of b after convertion: <class 'int'>
246
Data type of c <class 'int'>

In [ ]:
a='Debasish'
print(int(a))

ValueError: ignored

In [ ]:
# List To set
a=[1,2,3,4]
print(set(a))

{1, 2, 3, 4}

In [ ]:
# Tuple To set
a=(1,2,3,4)
print(set(a))

{1, 2, 3, 4}

In [ ]:
# List To tuple
a=[1,2,3,4]
print(tuple(a))

(1, 2, 3, 4)

In [ ]:
# tuple To List
a=(1,2,3,4)
print(list(a))

[1, 2, 3, 4]

In [ ]:
# set To list
a={1,2,3,4}
print(list(a))

[1, 2, 3, 4]

In [ ]:
# Nested List to Dict
list=[[1,'value1'],[2,'value2']];

a=dict(list);
print(a)

{1: 'value1', 2: 'value2'}

In [ ]:
# Nested tuple to Dict
tpl=[(1,'value1'),(2,'value2')];

a=dict(tpl);
print(a)

{1: 'value1', 2: 'value2'}