#1. Python Variables

In [ ]:
# Noramal Variable Declaration is like
x=10;
y='this is String'
z=True

## number

In [ ]:
x=1       #int
y=2.8     #float
z=1+1j      #complex number

In [ ]:
# to know what data type a value has in python
# int is a Whole Number,positive or negative ,without decimal of unlimited length
a=1
b=-123
c=3124214123532152352353265324643643765475475686586584575427547547455832905832058231058
print(type(x))
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
# float is Floating point number ,positive or negative ,with one or more decimal of unlimited length
# Support "e" to indicate the power of 10;

a=1.10
b=-1.10
c=31242141235.32152352353265324643643765475475686586584575427547547455832905832058231058
x=35e3
y=12E5
z=-87.7e100
print(type(y))
print(type(a))
print(type(b))
print(type(c))

print(x)
print(y)
print(z)

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
35000.0
1200000.0
-8.77e+101

In [ ]:
print(z)

(1+1j)

## String

In [ ]:
str1='Hello GNIT' 
str2=" How are you"

# access string value
print(str1)

#concatnation 
print(str1+ str2)

# Hello GNIT
# 0123456789

#Slice Operator(:)
print(str1[0:2]) # Slice the first two Charector
print(str1[2:5]) # slicing is start from 2 index and end before 5 index so the index are 2,3,4. upto 5 means slice ended before 5.
print(str1[3:7]) # Space is charector
print(str1.strip())

print(len(str1))
print(str1.lower())
print(str1.upper())

print(str1.replace("H","J"))

print(str1[4])

# -10 -9 -8 -7 -6 -5 -4 -3 -2 -1      negitive index
#   H  e  l  l     o  G  N  I  T
#   0  1  2  3  4  5  6  7  8  9      positive index

print(str1[-2])
print(str1[-7]) # Negitave Indexing is possible in python
print(str1[-10])


print(2+2+2+2%4)

del str2
print(str2)

Hello GNIT
Hello GNIT How are you
He
llo
lo G
Hello GNIT
10
hello gnit
HELLO GNIT
Jello GNIT
o
I
l
H
8

NameError: ignored

## Input/OutPut

In [ ]:
print("Enter Your Name");
x=input();
print("Hello,",x)

Enter Your Name
Debasish Sahoo
Hello, Debasish Sahoo

In [ ]:
# any data is comming from input field is converted into string:
print("Enter Number for x");
x=input();                      #input fields
print("Enter Number for y");
y=input();

print(type(x))
print(type(y))

print(x+y)

Enter Number for x
5
Enter Number for y
7
<class 'str'>
<class 'str'>
57

In [ ]:
# any data is comming from input field is converted into string:
# to deal with this we have to cast the input with desaire data type methods
print("Enter Number for x");
x=int(input())                      #input fields
print("Enter Number for y");
y=int(input()) 

print(type(x))
print(type(y))

print(x+y)

Enter Number for x
5
Enter Number for y
7
<class 'int'>
<class 'int'>
12

In [ ]:
a, b,c=5,10,15;
print(a)
print(b)
print(c)

5
10
15

In [ ]:
x=y=z=10;
print(x)
print(y)
print(z)

10
10
10

In [ ]:
X=5
Y=10

# Srabasti Deb
#X=X+Y 
#Y=X-Y  
#X=X-Y

#Sandipan Chakraborty
#temp = x
#x = y
#y = temp

# Debasish Sahoo

X,Y=Y,X

print('x and y are:',X,Y)

x and y are: 10 5