# Conditinal Statement


* if
* if-else
* if-elif-else
* nested if_else

In [ ]:
# if the condition is True then the if Block will Excute
grade=70
if grade >= 65:
 print('Pass')

Pass

In [ ]:
num=3
if num%2==0:
  print(num,'is Even Number');
print('This block is Excute every time cause it is afetr the if block')

This block is Excute every time cause it is afetr the if block

In [ ]:
num=-1
if num>0:
  print(num*num)
print('Next line of Code')

1
Next line of Code

In [ ]:
a,b=6,9
if(a<b):
  print("a is less then b")

a is less then b

In [ ]:
if 5!=3*6:
  print('uff.....')

uff.....

In [ ]:
if 5==15/3:
  print('Its Working.....')

Its Working.....

In [ ]:
if 5==15/3:print('Its Working.....')
if 5!=3*6:print('uff.....')

Its Working.....
uff.....

In [ ]:
# if the condition is True then the if Block will Excute otherwise the else block will excute
grade=60
if grade >= 65:
  print('Pass')
else:            # it is default block
  print('Fail')

Fail

In [ ]:
num=3
if num%2==0:
  print(num,'is Even Number');
else:
  print(num, 'is odd number');
print('This block is Excute every time cause it is afetr the if block')

3 is odd number
This block is Excute every time cause it is afetr the if block

In [ ]:
a,b=6,9
if(a<b):
  print("a is less then b")
else:
  print("a is grater then b")

a is less then b

In [ ]:
#Password Check
def password_check(password):
  if password=="123456":
    print('Password is Correct.....')
  else:
    print('Incorrect Password.....')

password_check("1234567")
password_check("123456")
password_check("1234")
password_check("abcdef")

Incorrect Password.....
Password is Correct.....
Incorrect Password.....
Incorrect Password.....

In [ ]:
a=0
print('A is Positive')if a>0 else print('A is negitive');

A is negitive

In [ ]:
statement=False
x="Statement is True" if statement else "Statement is Flase"
print(x)




#statement=False
#x="Statement is True" if False else "Statement is Flase"
#print(x)

Statement is Flase

In [ ]:
a,b=6,5
print('a is less then b') if(a<b) else print('a is grater then b')

a is grater then b

In [ ]:
num=96
if num >0:print('Positive')
else:print('Negative')

In [ ]:
x=12
if 10<x<12:
  print("Hello")
else:
  print("World")

World

In [ ]:
a,b=5,5
print("Value of a is:",a)
print("Value of b is:",b)

if(a>b):
  print("a is less then b")
else:
  print("b is less then a")

Value of a is: 5
Value of b is: 5
b is less then a

In [ ]:
a,b=5,5
print("Value of a is:",a)
print("Value of b is:",b)

if(a>b):
  print("a is less then b")
elif (a<b):
  print("a is, grater then b")
else:
  print(" a and b are equal")

Value of a is: 5
Value of b is: 5
 a and b are equal

In [ ]:
# HomeWork how to check the value is less then or equal to 100
grade=int(input("Enter your Number:"));

if grade>=90:
  print("A grade")
elif grade>=80:
  print("B grade")
elif grade>=70:
  print("C grade")
elif grade>=60:
  print("D grade")
elif grade>=50:
  print("E grade")
else:
  print("Fail....")

Enter your Number:6789
A grade

In [ ]:
# Homework for user choice program that is user is giving 1 then print Admin if 2 the user 3 the guest or else show Wrong Entry

In [ ]:
a=5

if a>0 and a%2 ==0:
  print('A is an Even and Positive Number')
elif a>0 and a%2 !=0:
  print("A is Poistive number")
elif a==0:
  print('A is Zero')
else:
  print('A is Negitive')

A is Poistive number

In [ ]:
user='Admin'
access_level=3
if user =='Admin' or access_level>=4:
  print('Access Granted.....')
else:
  print('Acess denied...')

Access Granted.....

In [ ]:
a=10
if a>=20:
  print("Condition is True....")
else:
  if a>=15:
    print('Checking second value......')
  else:
    print('All conditation is false......')

All conditation is false......

In [ ]:
x=13
y=13
if x>y:
  print("x>y")
elif x<y:
  print("x<y")
  if x==10:
    print("x =10")
  else:
    print('Invalid')
else:
  print("x=y")

x=y

#Iterative Statement

* for
* while

In [ ]:
# for Loop is Working on String,list,dictionary,set,tuple

word=['One','Two','Three','Four','Five']

for i in word:
  print(i)


#for(int i=0;i<=10;i++){
  #printf(i)
#}

One
Two
Three
Four
Five

In [ ]:
num=[10,20,30,40,50,60]
sum=0
for i in num:
  sum=sum+i

list_size=len(num)

avg=sum/list_size

print(avg)

35.0

In [ ]:
i=3

In [ ]:
#range(5)   => range(start=0, end=5,step=1)

print(list(range(5)))


print(list(range(10)))

print(list(range(1,100)))

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
for num in range(10):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(2,32,4):
  print(i)

2
6
10
14
18
22
26
30

In [ ]:
a=7
for i in range(1,11):
  print('{0}x{1}={2}'.format(a,i,a*i))

7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70

In [ ]:
sum=0
for n in range(1,11):
  sum=sum+n
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
for i in range(1,11):
  if i%2 ==0:
    print("Even Number",i)
  else:
    print("Odd Number",i)

Odd Number 1
Even Number 2
Odd Number 3
Even Number 4
Odd Number 5
Even Number 6
Odd Number 7
Even Number 8
Odd Number 9
Even Number 10

In [ ]:
num=[0,1,2,3,4,5]
for i in num:
  print(i)
else:
  print("No item Left.. and loop will stop at",i)

0
1
2
3
4
5
No item Left.. and loop will stop at 5

In [ ]:
name='Bill'
marks={'Arnab':99,'Bill':55,'Cory':77}

for student in marks:
    if student == name:
      print(marks[student])
      break
else:
  print('No entry with that name found.....')

55

In [1]:
#Example 1:

count=1
while count <5:
  print(count)
  count=count+1

1
2
3
4

In [2]:
#Sum of the firts !0 number

num=10;
sum=0;
i=1

while i<=num:
  sum=sum+i
  i=i+1
print("Sum of first 10 number is:",sum)

Sum of first 10 number is: 55

In [4]:
a=10;
while a>0:
  print("Value of a is:",a)
  a=a-2
print("Loop Complted")

Value of a is: 10
Value of a is: 8
Value of a is: 6
Value of a is: 4
Value of a is: 2
Loop Complted

In [6]:
# fibonacci 

a,b=0,1
while b<1000:
  print(b,end=' ',flush=True)
  a,b=b,a+b
print()

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [7]:
n=10
while n>0:
  if n%2==0:
    print(n," is Even Number")
  else:
    print(n," is Odd Number")
  n=n-1

10  is Even Number
9  is Odd Number
8  is Even Number
7  is Odd Number
6  is Even Number
5  is Odd Number
4  is Even Number
3  is Odd Number
2  is Even Number
1  is Odd Number

#  Transfar Statement

* Break
* continue
* pass

In [10]:
count=0
for i in range(1,6):
  count=count+1
  if count>2:
    break    # Exit from the Block itself.
  else:
    print(i)
else:
  print("Done")

1
2

In [9]:
count=0
for i in range(1,6):
  count=count+1
  if count>2:
    continue
  else:
    print(i)
else:
  print("Done")

1
2
Done

In [14]:
num=[1,4,5,6,17,18,9]
for i in num:
  if i>17:
    break
  else:
    print(i)

1
4
5
6
17

In [15]:
fn=[3,6,9]
sec=[3,6,9]

for i in fn:
  for j in sec:
    if i==j:
      continue
    print(i,"*",j,"=",i*j)

3 * 6 = 18
3 * 9 = 27
6 * 3 = 18
6 * 9 = 54
9 * 3 = 27
9 * 6 = 54

In [16]:
for num in range(6):
  pass

In [17]:
# using for loop print reverse of the list
num=[10,20,30,40]
for i in reversed(num):
  print(i)

40
30
20
10

In [20]:
num=10;
for i in range(num,-3,-1):   
  print(i)

10
9
8
7
6
5
4
3
2
1
0
-1
-2

In [27]:
print("Reversed: \t",end="")
for ch in reversed("ABCDEFGHIJKLMNOPQRSTUVWXYZ"):
  print(ch,end=" ")

print("\nenuemerated: \t",end="")
for i,ch in enumerate("ABCDEFGHIJKLMNOPQRSTUVWXYZ"):
  print(i,"=",ch,end='; ')

print("\nZip:")
for a,x in zip ("ABCDEF","abcdef"):
  print(a,":",x)

print("\nZip:")
for a,x in zip ("ABCDEF","abcde"):
  print(a,":",x)

Reversed: 	Z Y X W V U T S R Q P O N M L K J I H G F E D C B A
enuemerated: 	0 = A; 1 = B; 2 = C; 3 = D; 4 = E; 5 = F; 6 = G; 7 = H; 8 = I; 9 = J; 10 = K; 11 = L; 12 = M; 13 = N; 14 = O; 15 = P; 16 = Q; 17 = R; 18 = S; 19 = T; 20 = U; 21 = V; 22 = W; 23 = X; 24 = Y; 25 = Z;
Zip:
A : a
B : b
C : c
D : d
E : e
F : f

Zip:
A : a
B : b
C : c
D : d
E : e

In [28]:
r=5
for i in range(1,r+1):
  for j in range(1,i+1):
    print("*",end=" ")
  print("")

*
* *
* * *
* * * *
* * * * *

In [30]:
for i in range(1,6):
  for j in range(1,i+1):
    print(i,end=" ")
  print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5