# Conditinal Statement


* if
* if-else
* if-elif-else
* nested if_else

In [2]:
# if the condition is True then the if Block will Excute
grade=70
if grade >= 65:
 print('Pass')

Pass

In [3]:
num=3
if num%2==0:
  print(num,'is Even Number');
print('This block is Excute every time cause it is afetr the if block')

This block is Excute every time cause it is afetr the if block

In [7]:
num=-1
if num>0:
  print(num*num)
print('Next line of Code')

1
Next line of Code

In [9]:
a,b=6,9
if(a<b):
  print("a is less then b")

a is less then b

In [10]:
if 5!=3*6:
  print('uff.....')

uff.....

In [11]:
if 5==15/3:
  print('Its Working.....')

Its Working.....

In [12]:
if 5==15/3:print('Its Working.....')
if 5!=3*6:print('uff.....')

Its Working.....
uff.....

In [15]:
# if the condition is True then the if Block will Excute otherwise the else block will excute
grade=60
if grade >= 65:
  print('Pass')
else:            # it is default block
  print('Fail')

Fail

In [16]:
num=3
if num%2==0:
  print(num,'is Even Number');
else:
  print(num, 'is odd number');
print('This block is Excute every time cause it is afetr the if block')

3 is odd number
This block is Excute every time cause it is afetr the if block

In [17]:
a,b=6,9
if(a<b):
  print("a is less then b")
else:
  print("a is grater then b")

a is less then b

In [18]:
#Password Check
def password_check(password):
  if password=="123456":
    print('Password is Correct.....')
  else:
    print('Incorrect Password.....')

password_check("1234567")
password_check("123456")
password_check("1234")
password_check("abcdef")

Incorrect Password.....
Password is Correct.....
Incorrect Password.....
Incorrect Password.....

In [21]:
a=0
print('A is Positive')if a>0 else print('A is negitive');

A is negitive

In [23]:
statement=False
x="Statement is True" if statement else "Statement is Flase"
print(x)




#statement=False
#x="Statement is True" if False else "Statement is Flase"
#print(x)

Statement is Flase

In [24]:
a,b=6,5
print('a is less then b') if(a<b) else print('a is grater then b')

a is grater then b

In [ ]:
num=96
if num >0:print('Positive')
else:print('Negative')

In [25]:
x=12
if 10<x<12:
  print("Hello")
else:
  print("World")

World

In [27]:
a,b=5,5
print("Value of a is:",a)
print("Value of b is:",b)

if(a>b):
  print("a is less then b")
else:
  print("b is less then a")

Value of a is: 5
Value of b is: 5
b is less then a

In [28]:
a,b=5,5
print("Value of a is:",a)
print("Value of b is:",b)

if(a>b):
  print("a is less then b")
elif (a<b):
  print("a is, grater then b")
else:
  print(" a and b are equal")

Value of a is: 5
Value of b is: 5
 a and b are equal

In [33]:
# HomeWork how to check the value is less then or equal to 100
grade=int(input("Enter your Number:"));

if grade>=90:
  print("A grade")
elif grade>=80:
  print("B grade")
elif grade>=70:
  print("C grade")
elif grade>=60:
  print("D grade")
elif grade>=50:
  print("E grade")
else:
  print("Fail....")

Enter your Number:6789
A grade

In [ ]:
# Homework for user choice program that is user is giving 1 then print Admin if 2 the user 3 the guest or else show Wrong Entry

In [34]:
a=5

if a>0 and a%2 ==0:
  print('A is an Even and Positive Number')
elif a>0 and a%2 !=0:
  print("A is Poistive number")
elif a==0:
  print('A is Zero')
else:
  print('A is Negitive')

A is Poistive number

In [36]:
user='Admin'
access_level=3
if user =='Admin' or access_level>=4:
  print('Access Granted.....')
else:
  print('Acess denied...')

Access Granted.....

In [37]:
a=10
if a>=20:
  print("Condition is True....")
else:
  if a>=15:
    print('Checking second value......')
  else:
    print('All conditation is false......')

All conditation is false......

In [41]:
x=13
y=13
if x>y:
  print("x>y")
elif x<y:
  print("x<y")
  if x==10:
    print("x =10")
  else:
    print('Invalid')
else:
  print("x=y")

x=y

#Iterative Statement

* for
* while

In [44]:
# for Loop is Working on String,list,dictionary,set,tuple

word=['One','Two','Three','Four','Five']

for i in word:
  print(i)


#for(int i=0;i<=10;i++){
  #printf(i)
#}

One
Two
Three
Four
Five

In [48]:
num=[10,20,30,40,50,60]
sum=0
for i in num:
  sum=sum+i

list_size=len(num)

avg=sum/list_size

print(avg)

35.0

In [55]:
i=3

In [51]:
#range(5)   => range(start=0, end=5,step=1)

print(list(range(5)))


print(list(range(10)))

print(list(range(1,100)))

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [57]:
for num in range(10):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [58]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [60]:
for i in range(2,32,4):
  print(i)

2
6
10
14
18
22
26
30

In [62]:
a=7
for i in range(1,11):
  print('{0}x{1}={2}'.format(a,i,a*i))

7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70

In [67]:
sum=0
for n in range(1,11):
  sum=sum+n
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [68]:
for i in range(1,11):
  if i%2 ==0:
    print("Even Number",i)
  else:
    print("Odd Number",i)

Odd Number 1
Even Number 2
Odd Number 3
Even Number 4
Odd Number 5
Even Number 6
Odd Number 7
Even Number 8
Odd Number 9
Even Number 10

In [70]:
num=[0,1,2,3,4,5]
for i in num:
  print(i)
else:
  print("No item Left.. and loop will stop at",i)

0
1
2
3
4
5
No item Left.. and loop will stop at 5

In [72]:
name='Bill'
marks={'Arnab':99,'Bill':55,'Cory':77}

for student in marks:
    if student == name:
      print(marks[student])
      break
else:
  print('No entry with that name found.....')

55

#  Transfar Statement

* Break
* continue
* pass